<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Social login</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<style>
h1{
text-aline:center;
}
h6{
text-color:white;
}
</style>
</head>
<body>
<center>
<h1>Springboot Social Login </h1><br><br></center>

<div id="demo">
 <center> <a href="user" class="btn btn-danger"><i class="fab fa-google-plus-g pr-1"></i>login with google</a>
  </center></div>
  </body>
</html>